.h5p-digibook-navigation {
    background-color: $background-color;
    background-size: cover;
    box-shadow: 0.625em 0.625em 1.875em rgba(166, 166, 166, 0.2);
    flex: 0 0 16em;
    min-height: 19em;
    order: -1;
    transition: all .15s linear;
    width: 16.563em;
    z-index: 1;
    >a {
        font-weight: bold;
    }
    >div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &.h5p-digibook-hide {
        flex: 0 0 0em;
        width: 0px;
    }
}

.h5p-digibook-navigation-sectionlist {
    background-color: $background-color;
    background-size: cover;
    transition: max-height 0.5s ease-in;
    width: 16.563em;
    .h5p-digibook-navigation-section {
        text-overflow: ellipsis;
        background: transparent;
        color: #4c4452;
        font-size: 0.875em;
        font-weight: 400;
        line-height: 2em;
        padding: 0;
        overflow: hidden;
        text-decoration: none solid rgb(76, 68, 82);
        width: 100%;
        span:first-child {
            font-size: 0.65em;
        }

        .digibook-sectiontitle {
            font-family: Arial;
        }
    }
}


.h5p-digibook-navigation-section {
    :before{
        padding: 0 1.484em 0 1.484em;
    }
    :not(.h5p-digibook-navigation-section-task){
        &:before{
            visibility: hidden;
        }
    }
    :hover {
        color: $base-color;
        cursor: pointer;
    }
}



.h5p-digibook-navigation-closed {
    .h5p-digibook-navigation-chapter-title {
        background-color: white;
        p{
            color: #4c4452;
        }
    }
    .h5p-digibook-navigation-sectionlist {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }
}
.h5p-digibook-navigation-chapter{
    border-left: 1px solid #e9e4ed;
}
.h5p-digibook-navigation-chapter-title {
    background-color: rgba($base-color, 0.1);
    background-size: cover;
    border-bottom:solid 1px #e9e4ed;
    color: #4c4452;
    display: flex;
    font-family: Arial;
    font-size: 0.750em;
    font-weight: 700;
    height: 3.438em;
    padding: 0 1.125em 0 1.125em;
    text-decoration: none solid rgb(76, 68, 82);
    p {
        color: $base-color;
        background-color: transparent;
        font-family: Arial;
        font-size: 1em;
        font-weight: 700;
        flex-grow: 1;
        line-height: 1.5em;
        margin-left: 1em;
        margin-right: 2em;
        overflow: hidden;
        text-decoration: none solid rgb(134, 96, 171);
        text-overflow: ellipsis;
        width: 13.125em; // height: 25px;
    }
    .h5p-digibook-navigation-chapter-accordion {
        align-self: center;
        font-size: 0.65em;
    }
    .h5p-digibook-navigation-chapter-progress {
        align-self: center;
        font-size: 1em;
    }
    &:active {
        background-color: rgba($base-color, 0.1);
    }
    &:hover {
        background-color: rgba($base-color, 0.05);
        cursor: pointer;
    }
}

.h5p-digibook-navigation-maintitle {
    background-color: $base-color;
    background-size: cover;
    p {
        align-self: center;
        color: $background-color;
        font-family: Arial;
        font-size: 1em;
        font-weight: 400;
        overflow: hidden;
        padding-left: 1.25em;
        text-decoration: none solid rgb(255, 255, 255);
        text-overflow: ellipsis;
    }
}
