.h5p-digibook-chapter {
  max-width: 1000px;
  transition: 0.25s;
  z-index: -1;
}

.h5p-digibook-content{
  margin: 1rem;
  overflow: overlay;
  position: relative;
  transition: 1s;
}


.h5p-digibook-animate-new {
  position: absolute;
  top:0;
}
.h5p-digibook-offset-left{
  transform: translate(-100%);
}
.h5p-digibook-offset-right{
  transform: translate(100%);
  opacity: 0;
  transition: visibility 0s, opacity 0,5s linear;

}

.h5p-digibook-status-progress-marker {
  display:flex;
  align-items: center;
  padding: 2em 0;
  margin-top: 2em;
  border-top: 1px solid #bebebe;
  input[type=checkbox] {
    transform: scale(1.5);
  }
  p {
    padding-left: 1em;
  }
}

.h5p-content-hidden {
  display: none;
}
