.h5p-digibook-status {
  border: 0;
  background-color: $background-color;
  background-size: cover;
  border-color: $base-color;
  border-style: solid;
  box-shadow: 10px 10px 30px rgba(166, 166, 166, 0.2);
  display: flex;
  padding: 0.5em;
  margin: 0;
  overflow: hidden;
  div {
    align-self: center;
    display: flex;
  }
}

.h5p-digibook-status-button {
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: rgba($base-color, 0.05);
    background-size: cover;
  }
  &:active {
    background-color: rgba($base-color, 0.1);
    background-size: cover;
  }
}

.h5p-digibook-status-menu {
  height: 2.750em;
  width: 2.750em;
  flex-shrink: 0;
  border: 2px solid $background-color;
  border-radius: 2px;
  background-color: $background-color;
  background-size: cover;
  
  a {
    margin: auto;
    font-size: 1.35em;
    color: $base-color;
    font-size: 1.25em;
  }
  &.h5p-digibook-status-menu-active {
    opacity: 20;
    background-color: $base-color;
    a {
      color: $background-color;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba($base-color, 0.9);
      background-size: cover;
    }
    &:active {
      background-color: rgba($base-color, 0.95);
      background-size: cover;
    }
  }
}

.h5p-digibook-status-progress {
  flex-shrink: 0;
  width: 55px;
  height: 22px;
}

.h5p-digibook-status-progress-number {
  font-family: Arial;
  font-size: 20px;
  color: $base-color;
  font-weight: 700;
  text-decoration: none solid rgb(134, 96, 171);
  text-align: right;
}

.h5p-digibook-status-progress-divider {
  font-family: Arial;
  font-size: 20px;
  color: #4c4452;
  font-weight: 700;
  text-decoration: none solid rgb(76, 68, 82);
  text-align: right;
}

.h5p-digibook-status-progressbar-back {
  width: 100%;
  background-color: rgba($base-color, 0.2);
  background-size: cover;
}

.h5p-digibook-status-progressbar-front {
  transition: 1s;
  height: 0.313em;
  background-color: $base-color;
}

.h5p-digibook-status-chapter {
  overflow: hidden;
  flex-grow: 1;
  p {
    color: #4c4452;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid rgb(76, 68, 82);
    text-overflow: ellipsis;
  }
}

.h5p-digibook-status-arrow {
  width: 2.750em;
  height: 2.750em;
  flex-shrink: 0;
  border: 0.125em solid $background-color;
  border-radius: 0.125em;
  background-color: $background-color;
  background-size: cover;
  a {
    margin: auto;
    font-size: 1.25em;
    color: $base-color;
    &.disabled {
      opacity: 0.5;
    }
  }
}

.h5p-digibook-status-header {
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.h5p-digibook-status-footer {
  bottom: 0;
  &.footer-hidden {
    display:none;
  }
}

