#h5p-digibook.h5p-scrollable-fullscreen {
  overflow-y: auto;
}

.h5p-digibook-chapter {
  max-width: 1000px;
}

.h5p-digibook-content {
  display: flex;
  flex: 1;
}

.h5p-digibook-hide {
  flex: 0 0 0em;
  transform: translate(-100%);
}
