
$base-color: #8660ab;
$background-color: #ffffff;


#h5p-digibook.h5p-scrollable-fullscreen {
  overflow-y: auto;
}

.h5p-digibook-main {
  overflow: hidden;
  display: flex;
  flex: 1;
}

#h5p-digibook.h5p-fullscreen {
  background-color: rgb(255, 255, 255);
}

@import 'pagecontent';
@import 'statusbar';
@import 'navigationbar';
@import 'cover';
