.sidebar{
  border: 5px dotted blue;
  position: fixed;
  left: 0px;
  /* height: 725px; */
  z-index: 1;
  background: white;
}

.h5p-digibook-status{
  border: 5px dotted red;
  background: white;
  /* width: 100%; */
  z-index: 1;  
}

.h5p-digibook-top{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.h5p-digibook-bot{
  bottom: 0;
}

.h5p-digibook-status ul{
  color: red;
  list-style-type: none;
  margin: 0;
  padding: 10px 0px;
}
.h5p-digibook-status li{
  display: inline;
  padding-left:10%;
}
