#h5p-digibook.h5p-scrollable-fullscreen {
  overflow-y: auto;
}

.h5p-digibook-chapter {
  max-width: 1000px;
}

.h5p-digibook-content {
  display: flex;
  flex: 1;
}

.h5p-digibook-navigation-title{
  font-size: x-large;
}
.h5p-digibook-navigation p{
  font-weight: bold;
  /* margin: 0; */
}

.h5p-digibook-navigation{
  border: 2px solid blue;
  background: white;
  padding-left: 10px;
  flex: 0 0 16em;
  order: -1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .5s ease-in-out;
}


.h5p-digibook-hide {
  flex: 0 0 0em;
  transform: translate(-100%);
}

.h5p-digibook-status{
  /* width: 1163px; */
  /* height: 84px; */
  padding: 1.25em;
  border-left-width: 1px;
  border-style: solid;
  border-color: #8660ab;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 10px 10px 30px rgba(166,166,166,0.2);
  z-index: 1;  
}

.h5p-digibook-status ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}


.h5p-digibook-status-menu {
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: cover;
}

.h5p-digibook-status-menu a{
  /* width: 30px;
  height: 30px; */
  font-size: 30px;
  color: #8660ab;
}

.h5p-digibook-status-progress{
  width: 88px;
  height: 22px;
  /* 1 / 5 */
  font-family: Arial;
  font-size: 20px;
  color: #8660ab;
  font-weight: 700;
  text-decoration: none solid rgb(134, 96, 171);
  text-align: right;
  /* / */
  font-family: Arial;
  font-size: 20px;
  color: #4c4452;
  font-weight: 700;
  text-decoration: none solid rgb(76, 68, 82);
  text-align: right;
}

.h5p-digibook-status-chapter{
  overflow: hidden;
}


.h5p-digibook-status-chapter p{
  /* height: 22px; */
  font-family: Arial;
  font-size: 20px;
  color: #4c4452;
  font-weight: 700;
  text-decoration: none solid rgb(76, 68, 82);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1.250rem;
}


.h5p-digibook-status-arrow{
  width: 2.750em;
  height: 2.750em;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: cover;
}

.h5p-digibook-status-arrow a{
  /* width: 30px;
  height: 30px; */
  font-size: 2.313em;
  color: #8660ab;
}
.h5p-digibook-status-arrow a.disabled{
  opacity: 0.5
}

.h5p-digibook-status-button:hover{
  background-color: #845eaa0d;
  background-size: cover;
}
.h5p-digibook-status-button:active{
  background-color: #845eaa1a;
  background-size: cover;
}

/* 
.h5p-digibook-status li{
  display: inline;
  flex-grow:0;
  margin:0;
  padding:10px;

} */


.h5p-digibook-status li:nth-child(2){
  flex-grow:1;
}

.h5p-digibook-status-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.h5p-digibook-status-footer{
  bottom: 0;
}