.h5p-digibook-navigation-title {
    font-size: x-large;
  }

.h5p-digibook-navigation {
  p {
    font-weight: bold;
  }
  div {
    // width: 15em;
    display:grid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }
  width: 16.563em;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 10px 10px 30px rgba(166,166,166,0.2);
  flex: 0 0 16em;
  order: -1;
  transition: all .5s ease-in-out;
}



.h5p-digibook-navigation-sections {
  max-height: 500px;
  transition: max-height 1.25s ease-in;
  width: 16.563em;
  // height: 220px;
  border-left-width: 0.063em;
  border-style: solid;
  border-color: #e9e4ed;
  background-color: #ffffff;
  background-size: cover;

  &.h5p-digibook-navigation-section-hidden{
    max-height: 0;
    transition: max-height 1.15s ease-out;
    overflow: hidden;
    background: #d5d5d5;
  }
  button{
    width: 12.625em;
    height: 2.500em;
    font-family: Arial;
    font-size: 0.750em;
    color: #4c4452;
    font-weight: 400;
    text-decoration: none solid rgb(76, 68, 82);
    line-height: 1.563em;
  }
}

.h5p-digibook-navigation-chapter-title {
  width: 16.563em;
  height: 2.688em;
  padding: 0px 0px 0px 30px;
  border:0;
  border-left-width: 0.063em;
  border-style: solid;
  border-color: #e9e4ed;
  background-color: #ffffff;
  background-size: cover;
  font-family: Arial;
  font-size: 0.750em;
  color: #4c4452;
  font-weight: 700;
  text-decoration: none solid rgb(76, 68, 82);
  &:hover{
    background-color: rgba($base-color, 0.05);
  }
  &:active{
    background-color: rgba($base-color, 0.1);
  }
}