.h5p-digibook-chapter {
  max-width: 1000px;
  transition: 0.25s;
  z-index: -1;
  }

.h5p-digibook-content{
  position: relative;
  transition: 1s;

}


.h5p-digibook-animate-new {
  position: absolute;
  top:0;
}
.h5p-digibook-offset-left{
  transform: translate(-100%);
}
.h5p-digibook-offset-right{
  transform: translate(100%);
}

.h5p-content-hidden {
  display: none;
}