.h5p-digibook-chapter {
  max-width: 1000px;
  transition: 0.25s;
  z-index: -1;
  div:first-child {
    padding-bottom: 2em;
  }
  }

.h5p-digibook-content{
  position: relative;
  transition: 1s;
  margin: 1rem;

}


.h5p-digibook-animate-new {
  position: absolute;
  top:0;
}
.h5p-digibook-offset-left{
  transform: translate(-100%);
}
.h5p-digibook-offset-right{
  transform: translate(100%);
  opacity: 0;
  transition: visibility 0s, opacity 0,5s linear;

}

.h5p-digibook-status-progress-marker {
  display:flex;
  align-items: center;
  padding: 2em 0;
  border-top: 1px solid #bebebe;
  input[type=checkbox] {
    transform: scale(1.5);
  }
}

.h5p-content-hidden {
  display: none;
}