
$base-color: #8660ab;
// $base-color: green;


#h5p-digibook.h5p-scrollable-fullscreen {
  overflow-y: auto;
}

.h5p-digibook-chapter {
  max-width: 1000px;
}

.h5p-digibook-content {
  display: flex;
  flex: 1;
}

#h5p-digibook.h5p-fullscreen {
  background-color: rgb(255, 255, 255);
}

@import 'statusbar';
@import 'navigationbar';
