#h5p-digibook.h5p-scrollable-fullscreen {
  overflow-y: auto; }

.h5p-digibook-main {
  overflow: hidden;
  display: flex;
  flex: 1; }

#h5p-digibook.h5p-fullscreen {
  background-color: white; }

.h5p-digibook-chapter {
  max-width: 1000px;
  transition: 0.25s;
  z-index: -1; }
  .h5p-digibook-chapter div:first-child {
    padding-bottom: 2em; }

.h5p-digibook-content {
  margin: 1rem;
  overflow: overlay;
  position: relative;
  transition: 1s; }

.h5p-digibook-animate-new {
  position: absolute;
  top: 0; }

.h5p-digibook-offset-left {
  transform: translate(-100%); }

.h5p-digibook-offset-right {
  transform: translate(100%);
  opacity: 0;
  transition: visibility 0s, opacity 0,5s linear; }

.h5p-digibook-status-progress-marker {
  display: flex;
  align-items: center;
  padding: 2em 0;
  border-top: 1px solid #bebebe; }
  .h5p-digibook-status-progress-marker input[type=checkbox] {
    transform: scale(1.5); }
  .h5p-digibook-status-progress-marker p {
    padding-left: 1em; }

.h5p-content-hidden {
  display: none; }

.h5p-digibook-status {
  border: 0;
  background-color: #ffffff;
  background-size: cover;
  border-color: #8660ab;
  border-style: solid;
  box-shadow: 10px 10px 30px rgba(166, 166, 166, 0.2);
  display: flex;
  padding: 0.5em;
  margin: 0;
  overflow: hidden; }
  .h5p-digibook-status div {
    align-self: center;
    display: flex; }

.h5p-digibook-status-button {
  border-radius: 4px; }
  .h5p-digibook-status-button:hover {
    cursor: pointer;
    background-color: rgba(134, 96, 171, 0.05);
    background-size: cover; }
  .h5p-digibook-status-button:active {
    background-color: rgba(134, 96, 171, 0.1);
    background-size: cover; }

.h5p-digibook-status-menu {
  height: 2.750em;
  width: 2.750em;
  flex-shrink: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  background-size: cover; }
  .h5p-digibook-status-menu a {
    margin: auto;
    font-size: 1.35em;
    color: #8660ab;
    font-size: 1.25em; }
  .h5p-digibook-status-menu.h5p-digibook-status-menu-active {
    opacity: 20;
    background-color: #8660ab; }
    .h5p-digibook-status-menu.h5p-digibook-status-menu-active a {
      color: #ffffff; }
    .h5p-digibook-status-menu.h5p-digibook-status-menu-active:hover {
      cursor: pointer;
      background-color: rgba(134, 96, 171, 0.9);
      background-size: cover; }
    .h5p-digibook-status-menu.h5p-digibook-status-menu-active:active {
      background-color: rgba(134, 96, 171, 0.95);
      background-size: cover; }

.h5p-digibook-status-progress {
  flex-shrink: 0;
  width: 55px;
  height: 22px; }

.h5p-digibook-status-progress-number {
  font-family: Arial;
  font-size: 20px;
  color: #8660ab;
  font-weight: 700;
  text-decoration: none solid #8660ab;
  text-align: right; }

.h5p-digibook-status-progress-divider {
  font-family: Arial;
  font-size: 20px;
  color: #4c4452;
  font-weight: 700;
  text-decoration: none solid #4c4452;
  text-align: right; }

.h5p-digibook-status-progressbar-back {
  width: 100%;
  background-color: rgba(134, 96, 171, 0.2);
  background-size: cover; }

.h5p-digibook-status-progressbar-front {
  transition: 1s;
  height: 0.313em;
  background-color: #8660ab; }

.h5p-digibook-status-chapter {
  overflow: hidden;
  flex-grow: 1; }
  .h5p-digibook-status-chapter p {
    color: #4c4452;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid #4c4452;
    text-overflow: ellipsis; }

.h5p-digibook-status-arrow {
  width: 2.750em;
  height: 2.750em;
  flex-shrink: 0;
  border: 0.125em solid #ffffff;
  border-radius: 0.125em;
  background-color: #ffffff;
  background-size: cover; }
  .h5p-digibook-status-arrow a {
    margin: auto;
    font-size: 1.25em;
    color: #8660ab; }
    .h5p-digibook-status-arrow a.disabled {
      opacity: 0.5; }

.h5p-digibook-status-header {
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2; }

.h5p-digibook-status-footer {
  bottom: 0; }

.h5p-digibook-navigation {
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 0.625em 0.625em 1.875em rgba(166, 166, 166, 0.2);
  flex: 0 0 16em;
  min-height: 19em;
  order: -1;
  transition: all .15s linear;
  width: 16.563em;
  z-index: 1; }
  .h5p-digibook-navigation > a {
    font-weight: bold; }
  .h5p-digibook-navigation > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .h5p-digibook-navigation.h5p-digibook-hide {
    flex: 0 0 0em;
    width: 0px; }

.h5p-digibook-navigation-sectionlist {
  background-color: #ffffff;
  background-size: cover;
  transition: max-height 0.5s ease-in;
  width: 16.563em; }
  .h5p-digibook-navigation-sectionlist .h5p-digibook-navigation-section {
    text-overflow: ellipsis;
    background: transparent;
    color: #4c4452;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 2em;
    padding: 0;
    overflow: hidden;
    text-decoration: none solid #4c4452;
    width: 100%; }
    .h5p-digibook-navigation-sectionlist .h5p-digibook-navigation-section span:first-child {
      font-size: 0.65em; }
    .h5p-digibook-navigation-sectionlist .h5p-digibook-navigation-section .digibook-sectiontitle {
      font-family: Arial; }

.h5p-digibook-navigation-section :before {
  padding: 0 1.484em 0 1.484em; }

.h5p-digibook-navigation-section :not(.h5p-digibook-navigation-section-task):before {
  visibility: hidden; }

.h5p-digibook-navigation-section :hover {
  color: #8660ab;
  cursor: pointer; }

.h5p-digibook-navigation-closed .h5p-digibook-navigation-chapter-title {
  background-color: white; }
  .h5p-digibook-navigation-closed .h5p-digibook-navigation-chapter-title p {
    color: #4c4452; }

.h5p-digibook-navigation-closed .h5p-digibook-navigation-sectionlist {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; }

.h5p-digibook-navigation-chapter {
  border-left: 1px solid #e9e4ed; }

.h5p-digibook-navigation-chapter-title {
  background-color: rgba(134, 96, 171, 0.1);
  background-size: cover;
  border-bottom: solid 1px #e9e4ed;
  color: #4c4452;
  display: flex;
  font-family: Arial;
  font-size: 0.750em;
  font-weight: 700;
  height: 3.438em;
  padding: 0 1.125em 0 1.125em;
  text-decoration: none solid #4c4452; }
  .h5p-digibook-navigation-chapter-title p {
    color: #8660ab;
    background-color: transparent;
    font-family: Arial;
    font-size: 1em;
    font-weight: 700;
    flex-grow: 1;
    line-height: 1.5em;
    margin-left: 1em;
    margin-right: 2em;
    overflow: hidden;
    text-decoration: none solid #8660ab;
    text-overflow: ellipsis;
    width: 13.125em; }
  .h5p-digibook-navigation-chapter-title .h5p-digibook-navigation-chapter-accordion {
    align-self: center;
    font-size: 0.65em; }
  .h5p-digibook-navigation-chapter-title .h5p-digibook-navigation-chapter-progress {
    align-self: center;
    font-size: 1em; }
  .h5p-digibook-navigation-chapter-title:active {
    background-color: rgba(134, 96, 171, 0.1); }
  .h5p-digibook-navigation-chapter-title:hover {
    background-color: rgba(134, 96, 171, 0.05);
    cursor: pointer; }

.h5p-digibook-navigation-maintitle {
  background-color: #8660ab;
  background-size: cover; }
  .h5p-digibook-navigation-maintitle p {
    align-self: center;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    font-weight: 400;
    overflow: hidden;
    padding-left: 1.25em;
    text-decoration: none solid white;
    text-overflow: ellipsis; }

.h5p-digibook-cover {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3; }
  .h5p-digibook-cover.h5p-cover-nographics {
    padding-top: 120px; }
  .h5p-digibook-cover-graphics {
    align-items: center;
    display: flex;
    height: 15em;
    margin: 4.375em 0;
    position: relative;
    width: 100%; }
  .h5p-digibook-cover-bar {
    background-color: #f9f8fa;
    background-size: cover;
    height: 70%;
    width: inherit; }
  .h5p-digibook-cover-image {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
  .h5p-digibook-cover-title {
    color: #363636;
    font-size: 2.188em;
    font-weight: 700;
    height: 40px;
    margin: 0.625em;
    text-decoration: none solid #363636;
    text-align: center; }
  .h5p-digibook-cover-description {
    color: #363636;
    font-size: 1.250em;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-decoration: none solid #363636;
    text-align: center; }
  .h5p-digibook-cover-readbutton {
    margin-top: 0,5em; }
    .h5p-digibook-cover-readbutton button {
      background-color: #8660ab;
      background-size: cover;
      border: none;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 20px;
      font-weight: 400;
      padding: 10px 40px;
      text-decoration: none solid white;
      text-align: center; }
      .h5p-digibook-cover-readbutton button:hover {
        cursor: pointer;
        background-color: rgba(134, 96, 171, 0.9);
        background-size: cover; }
      .h5p-digibook-cover-readbutton button:active {
        background-color: rgba(134, 96, 171, 0.95);
        background-size: cover; }
